[credential]
	helper = cache --timeout 21600
	helper = oauth

[core]
  pager = delta

[delta]
  features = catppuccin-mocha
  navigate = true
  dark = true
  line-numbers = true
  side-by-side = true

[include]
  path = ~/.config/delta/catppuccin.gitconfig

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictStyle = zdiff3

[pull]
	rebase = true

[rebase]
	updateRefs = true

[user]
	name = {{ .git_user_name | quote }}
	email = {{ .git_user_email | quote }}
