################################################################################
# INIT
################################################################################

let path_autoload = $nu.data-dir | path join "vendor/autoload/"
mkdir path_autoload


################################################################################
# THEME
################################################################################

source ($nu.default-config-dir | path join catppuccin-mocha.nu)


################################################################################
# PROMPT (Starship)
################################################################################

starship init nu | save -f ($path_autoload | path join "starship.nu")


################################################################################
# TOOLS
################################################################################

# init zoxide
zoxide init nushell | save -f ($path_autoload | path join "zoxide.nu")

# init carapace
carapace _carapace nushell | save -f ($path_autoload | path join "carapace.nu")


# jj
if not (which jj | is-empty) {
    jj util completion nushell | save -f ($path_autoload | path join "completions-jj.nu")
}

################################################################################
# CONFIG
################################################################################

$env.config = {
  show_banner: false # true or false to enable or disable the welcome banner at startup
  buffer_editor: "nvim"
  shell_integration: {
      # This is used to enable terminals to know where the prompt is, the command is, where the command finishes, and where the output of the command is
      osc133: false
  }
}
