@import "catppuccin-mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: RobotoMono Nerd Font;
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: alpha(@base, 0.5);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: solid 0px alpha(@crust, 0.3);
}

window#waybar.hidden {
  opacity: 0.2;
}

@keyframes blink {
  to {
    color: #ebdbb2;
  }
}

#mode {
  background: transparent;
  color: @text;
}

label:focus {
  background-color: @base;
}

tooltip {
  border-radius: 5px;
  background: @base;
}

tooltip label {
  color: @text;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  border-top: 2px solid @lavender;
  color: @lavender;
}

#workspaces button.urgent {
  border-top: 2px solid @red;
  color: @red;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
	
#network.disconnected {
    background: @red;
}
